html,
body {
  background: black;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  width: 100%;
  background-attachment: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the body at least the height of the viewport */
}

.header {
  position: fixed;
  width: 100%;
  height: 9%;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.footer {
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: black;
}

.footer img {
  height: 100px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.content .container {
  width: 50%;
}

.sliderContainers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.position-label {
  margin: 10px 0;
  font-size: 1.5em;
}



input[type="checkbox"],
.toggle-input {
  display: none;
}

button,
#uploadButton {
  justify-content: center;
  cursor: pointer;
  transition: 500ms;
  align-items: center;
  user-select: none;
}

#caption {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

.slider-container {
  padding: 10px 0;
  margin: 10px 0;
}

.slider-label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.slider-container input {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border-radius: 50%;
  background: none;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
}

.slider input:hover {
  opacity: 1;
}

.slider-container input::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
}

.slider1 {
  height:80px;
  border-radius: 1px;
  background: linear-gradient(to right, 
        rgb(0, 0, 0) 0%, 
        white 100%) no-repeat,
        linear-gradient(to bottom, 
        transparent 100px, 
        black calc(100% - 30%)) no-repeat;
        background-size: 95% calc(100% - 90%);
        background-position: center;
}

.slider2 {
  height:80px;
  border-radius: 1px;
  background: linear-gradient(to right, 
        rgb(255, 255, 255) 0%, 
        rgb(251, 255, 0) 100%) no-repeat,
        linear-gradient(to bottom, 
        transparent 100px, 
        black calc(100% - 30%)) no-repeat;
        background-size: 95% calc(100% - 90%);
        background-position: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: -10px 5px 15px;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #86d993;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}

.wifi-button {
  position: relative;
  display: block;
  padding: 0;
  font-size: 1em;
  background: linear-gradient(to top, #2e2d2d, #212121);
  z-index: 2;
  color: white;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #2c2d2c;
  min-height: 2em;
  margin-top: 10px;
  padding: 10px;
}

.state {
  font-size: 1.2rem;
  color: grey;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  max-height: calc(100vh - 80px);
  min-height: 25%;
  width: 100%;
  background: rgba(0, 0, 0, 0.36);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.modal-close:hover,
.modal-close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  right: 0.5em;
  color: #aaa;
  font-size: 3em;
  font-weight: bold;
}

.modal-background {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: none;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  width: 100%;
}

.row-mobile {
  display: flex;
  flex-direction: row;
}

.nav-button {
  width: fit-content;
  background: none;
  font-size: 1em;
  border: 0;
  right: 0;
  position: absolute;
}
